body {
  font-family: var(--text-font-family);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

:root {
  --text-font-family: "Roboto", sans-serif;
  --heading-footer-font-family: "Raleway", sans-serif;
  --link-button-color: #2196f3;
  --text-color: #212121;
  --paragraph-color: #757575;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
a,
b,
button,
br,
img,
span {
  margin-left: 0;
  margin-right: 0;
}
html {
  list-style-type: none;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding-left: 215px;
  padding-right: 215px;
}
.global-header--container {
  display: flex;
  justify-content: space-between;
}
.navigation__pages-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navigation__item {
  position: relative;
}
.current-page::after {
  content: "";
  width: 42px;
  height: 4px;
  background-color: var(--link-button-color);
  border-radius: 2px;
  position: absolute;
  bottom: -34px;
  left: 0;
}

.navigation {
  margin-left: -250px;
  display: flex;
  align-items: center;
}

.navigation__global-footer__list {
  display: flex;
  align-items: center;
}
.navigation__icon {
  color: var(--paragraph-color);
  margin-right: 10px;
}
.navigation__icon:hover,
.navigation__icon:focus {
  color: var(--link-button-color);
}

.global-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--link-button-color);
}
.logo--dark-color {
  color: #000000;
}
.navigation ul > li + li {
  display: flex;
  margin-left: 50px;
}
.navigation__link {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--link-button-color);
}
.navigation__global-footer__list .navigation__link {
  display: flex;
  align-items: center;
  color: var(--paragraph-color);
  padding-right: 40px;
}
.navigation__global-footer__list .navigation__link:hover {
  color: var(--link-button-color);
}
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img\ \(9\).jpg");
}

.hero-container {
  text-align: center;
  padding: 200px 0;
}

.hero__heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__button {
  margin: 20px;
  padding: 10px 10px;
  cursor: pointer;
  font-family: "Roboto";
  background-color: var(--link-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.benefits__list {
  display: flex;
  max-width: 1170px;
}
.benefits__item {
  margin-right: 30px;
  flex-basis: calc((100% - 75px) / 4);
}
.benefits__item:last-child {
  margin-right: 0px;
}
.benefits__heading {
  margin-bottom: 10px;
}
.benefits,
.wwd,
.team {
  padding-top: 94px;
}
.benefits__heading {
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.benefits__description {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.benefits__icon {
  border-radius: 4px;
  padding: 25px 102px;
  margin-bottom: 30px;
  background: #f5f4fa;
  height: 120px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.benefits__icon:hover,
.benefits__icon:focus {
  color: var(--link-button-color);
  cursor: pointer;
}

.wwd__heading,
.team__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.container-work {
  max-width: 1170px;
  margin: 0 auto;
}
.wwd__heading {
  margin-bottom: 50px;
  text-align: center;
}
.wwd__list {
  display: flex;
}
.wwd__item {
  position: relative;
  margin-right: 30px;
}
.wwd__overlay {
  position: absolute;
  display: block;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-weight: 700;
  line-height: 1.17;
  color: #ffffff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.services-list-item:last-child {
  margin-right: 0px;
}

.team {
  background: #f5f4fa;
  margin-top: 94px;
  padding-bottom: 94px;
}
.team__heading {
  margin-bottom: 50px;
  text-align: center;
}
.team__list {
  display: flex;
}
.team__item {
  margin-right: 30px;
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.team__description {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.team-icons__container {
  align-self: center;
  margin: 16px 44px 30px;
  color: #afb1b8;
  display: flex;
}
.team__icon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  color: inherit;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon:hover,
.team__icon:focus {
  color: #ffffff;
  background-color: var(--link-button-color);
  border-radius: 50%;
}

.customers__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  margin-bottom: 50px;
}
.customers__list {
  display: flex;
  margin-bottom: 94px;
}
.customers__card {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__card:not(:last-child) {
  margin-right: 30px;
}
.customers__icon {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__card:hover,
.customers__card:focus {
  border-color: var(--link-button-color);
  cursor: pointer;
}
.customers__icon:hover,
.customers__icon:focus {
  color: var(--link-button-color);
  cursor: pointer;
}

.global-footer {
  background-color: #2f303a;
  padding: 60px 215px;
}
.global-footer--position {
  padding-left: 1080px;
}
.logo--light-color {
  color: #ffffff;
}
.global-footer__list {
  display: flex;
}
.global-footer__address {
  display: flex;
  flex-direction: column;
}
.global-footer--position1 {
  margin-top: 28px;
  margin-bottom: 12px;
}
.global-footer__location {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.global-footer__email {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #d9d9d9;
  text-decoration: none;
}
.global-footer--position2 {
  margin-top: 12px;
}
.global-footer__phone-number {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.global-footer__socials {
  margin-left: 94px;
}
.global-footer__description {
  margin-top: -20px;
  margin-bottom: 20px;
}
.global-footer--color {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}
.global-footer__list {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.global-footer--color {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}
.global-footer__items {
  margin-right: 10px;
  padding: 12px;
  width: 44px;
  height: 44px;
  background: #ffffff1a;
  border-radius: 50%;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.global-footer__items:hover,
.global-footer__items:focus {
  background-color: #2196f3;
}
.global-footer__form {
  margin-top: -20px;
  width: 570px;
  height: 86px;
  padding-left: 93px;
}
.email-button-row {
  display: flex;
  margin-top: 20px;
}
.global-footer__label {
  margin-right: 12px;
}
.global-footer__input {
  padding-right: 12px;
  padding-left: 16px;
  height: 50px;
  width: 358px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.global-footer__button {
  border: 0;
  display: flex;
  align-items: flex-end;
  align-items: center;
  padding-left: 43px;
  cursor: pointer;
  height: 50px;
  width: 200px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--link-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.global-footer__icon {
  margin-right: 28px;
  margin-left: 25px;
}

.hfbsjdfbkshk {
}
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-list-item {
  margin-right: 8px;
  color: #f5f4fa;
}
.buttons-list-item:last-child {
  margin-right: 0;
}
.buttons-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-list .button:hover,
.buttons-list .button:focus {
  color: var(--link-button-color);
}
.buttons-list .button:hover {
  color: #ffffff;
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -20px;
}
.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.cards-item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-cards-overlay {
  position: absolute;
  display: block;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.cards-item:hover .portfolio-cards-overlay,
.cards-item:focus .portfolio-cards-overlay {
  transform: translateY(0%);
}
.cards-item {
  border: 1px solid #eeeeee;
  position: relative;
  overflow: hidden;
}
.cards-item:hover,
.cards-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.images:hover,
.images:focus {
  border-color: var(--link-button-color);
}

.portfolio .article-name {
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio .article-type {
  padding-left: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.backdrop {
  width: 100%;
  height: 100%;
  background: #00000033;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  height: 581px;
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
}
.modal__button {
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.is-hidden {
  visibility: hidden;
}
.modal__form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.modal__title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__description {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__input {
  padding: 12px 40px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_icon {
  color: #000000;
  top: 56%;
  left: 15px;
  transform: translateY(-50%);
  position: absolute;
}

.modal__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__terms-and-conditions {
  padding-left: 12px;
  margin-top: 20px;
}
.modal__submit-btn {
  margin-top: 30px;
  margin-left: 125px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  height: 50px;
  width: 200px;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit-btn:hover,
.modal__submit-btn:focus {
  background: #188ce8;
  cursor: pointer;
}
.modal__label:focus-within svg {
  color: var(--link-button-color);
}
.modal__label:focus-within input {
  outline: 0;
  border-color: var(--link-button-color);
}
.modal__label:focus-within textarea {
  outline: 0;
  border-color: var(--link-button-color);
}
